In [9]:
import pandas
import requests
import json
from IPython.display import display

In [10]:
url = "https://data.nasa.gov/resource/y77d-th95.json?$where=mass>2000000"

# Meteor Tracker

Meteors are frickin cool. They're giant (sometimes tiny) hunks of rock, iron, or whatever else. They're hurled from somewhere else in space and sometimes we're lucky enough to have them land here on our planet. Because of this, we thought it would be neat to work to have a graphical representation of some of the largest meteors that have landed on the planet (also this was some of the better formatted public data we could find).

Below here, we have stored and displayed some of this data in a table and even created an interactive map where recorded meteors landed.

In [11]:
df = pandas.read_json(url)
#probably poor design on my part,dropped the following columns rather than query the right ones in
df = df.drop('geolocation', 1)
df = df.drop('fall', 1)
df = df.drop('nametype', 1)
df['year'] = df['year'].str[:4]
df.reclat = df.reclat.round(2)
df.reclong = df.reclong.round(2)
df.style