In [18]:
import pandas
import requests
import json

In [19]:
url = "https://data.nasa.gov/resource/y77d-th95.json?$where=mass>5000000"

In [20]:
response = requests.get(url)

In [21]:
if response.status_code == 200:
    # following line puts json file into a python list
    data = response.json()

In [22]:
df = pandas.DataFrame(data)

In [23]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [25]:
print(df)

     fall                                        geolocation     id      mass  \
0    Fell  {'type': 'Point', 'coordinates': [134.65333, 4...  23593  23000000
1   Found         {'type': 'Point', 'coordinates': [88, 47]}   2335  28000000
2   Found  {'type': 'Point', 'coordinates': [-107.83333, ...   4919  22000000
3   Found  {'type': 'Point', 'coordinates': [-39.2, -10.1...   5015   5360000
4   Found  {'type': 'Point', 'coordinates': [-60.58333, -...   5247  50000000
5   Found  {'type': 'Point', 'coordinates': [-111.03333, ...   5257  30000000
6   Found  {'type': 'Point', 'coordinates': [-64.93333, 7...   5262  58200000
7   Found     {'type': 'Point', 'coordinates': [-105.1, 27]}   5363  24300000
8   Found   {'type': 'Point', 'coordinates': [145.3, -38.1]}   5463   8600000
9   Found      {'type': 'Point', 'coordinates': [18, -25.5]}  10912  26000000
10  Found  {'type': 'Point', 'coordinates': [17.91667, -1...  11890  60000000
11  Found  {'type': 'Point', 'coordinates': [33.06667, -9...  15456  16000000
12  Found  {'type': 'Point', 'coordinates': [-105.43333, ...  16745  10100000
13  Found  {'type': 'Point', 'coordinates': [127.55, -30....  16852  24000000
14  Found    {'type': 'Point', 'coordinates': [107.7, 25.1]}  16906   9500000
15  Found  {'type': 'Point', 'coordinates': [-48.6, -26.2...  23162   7000000
16  Found  {'type': 'Point', 'coordinates': [-122.58333, ...  24269  15500000

               name nametype         recclass      reclat      reclong  \
0      Sikhote-Alin    Valid       Iron, IIAB   46.160000   134.653330
1           Armanty    Valid       Iron, IIIE   47.000000    88.000000
2        Bacubirito    Valid  Iron, ungrouped   26.200000  -107.833330
3           Bendeg√≥    Valid         Iron, IC  -10.116670   -39.200000
4   Campo del Cielo    Valid     Iron, IAB-MG  -27.466670   -60.583330
5     Canyon Diablo    Valid     Iron, IAB-MG   35.050000  -111.033330
6         Cape York    Valid      Iron, IIIAB   76.133330   -64.933330
7        Chupaderos    Valid      Iron, IIIAB   27.000000  -105.100000
8        Cranbourne    Valid     Iron, IAB-MG  -38.100000   145.300000
9            Gibeon    Valid        Iron, IVA  -25.500000    18.000000
10             Hoba    Valid        Iron, IVB  -19.583330    17.916670
11            Mbosi    Valid  Iron, ungrouped   -9.116670    33.066670
12           Morito    Valid      Iron, IIIAB   27.050000  -105.433330
13      Mundrabilla    Valid    Iron, IAB-ung  -30.783330   127.550000
14           Nantan    Valid     Iron, IAB-MG   25.100000   107.700000
15  Santa Catharina    Valid    Iron, IAB-ung  -26.216670   -48.600000
16       Willamette    Valid      Iron, IIIAB   45.366670  -122.583330

                       year
0   1947-01-01T00:00:00.000
1   1898-01-01T00:00:00.000
2   1863-01-01T00:00:00.000
3   1784-01-01T00:00:00.000
4   1576-01-01T00:00:00.000
5   1891-01-01T00:00:00.000
6   1818-01-01T00:00:00.000
7   1852-01-01T00:00:00.000
8   1854-01-01T00:00:00.000
9   1836-01-01T00:00:00.000
10  1920-01-01T00:00:00.000
11  1930-01-01T00:00:00.000
12  1600-01-01T00:00:00.000
13  1911-01-01T00:00:00.000
14  1958-01-01T00:00:00.000
15  1875-01-01T00:00:00.000
16  1902-01-01T00:00:00.000