In [6]:
import pandas
import requests
import json
from pandas.io.json import json_normalize

In [7]:
url = "https://data.nasa.gov/resource/y77d-th95.json?$where=mass>5000000"

# Meteor Tracker

Meteors are frickin cool. They're giant (sometimes tiny) hunks of rock, iron, or whatever else. They're hurled from somewhere else in space and sometimes we're lucky enough to have them land here on our planet. Because of this, we thought it would be neat to work to have a graphical representation of some of the largest meteors that have landed on the planet (also this was some of the better formatted public data we could find).

Below here, we have stored and displayed some of this data in a table and even created an interactive map where recorded meteors landed.

In [8]:
df = pandas.read_json(url)
#probably poor design on my part,dropped the following columns rather than query the right ones in
df = df.drop('geolocation', 1)
df = df.drop('fall', 1)
df = df.drop('nametype', 1)
df['year'] = df['year'].str[:4]
df.reclat = df.reclat.round(2)
df.reclong = df.reclong.round(2)
df.style

In [9]:
%%HTML
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Clustering</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="metmap.js"></script>
  </head>
  <body>
    <div id="testOut">This is a test</div>
    <div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: {lat: -28.024, lng: 140.887}
        });
        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });
        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      
      var mloc = getData();
      document.getElementById("testOut").innerHTML = mloc;
      
      var locations = mloc;
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7Fxo_MPX7X-LgOWtZetEqVzNUeJLh6II&callback=initMap">
    </script>
  </body>
</html>